@charset "utf-8";

img {
  position: absolute;
  width: 100px;
  height: 100px;
}

#container {
  margin-top: 10px;
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

#container.highlight {
  background-color: #e6b422; /* ピカッてした時の背景色 */
  transition-duration: 0s; /* 即座に背景色を変える */
}

#pika-box {
  padding: 20px;
  background-color: #444; /* 元の背景色 */
  transition: background-color 1s; /* 1秒かけて背景色を元に戻す */
}
